body {
  background-color: #f0f0f0; /* Fondo gris claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards-container {
  width: 45%; /* Ancho para los cards */
}

.card {
  background-color: orange;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input[type="radio"] {
  display: none; /* Oculta los input type radio */
}

label {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: blue; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  cursor: pointer;
  width: 400px; 
  border-radius: 15px; /* Esquinas redondeadas */
}

input[type="radio"]:checked + label {
  background-color: darkblue; /* Cambia el color al hacer clic */
}

.card-image {
  margin-left: 20px; /* Espacio entre la imagen y el texto */
  width: 50px; /* Ancho de la imagen */
  height: auto; /* Altura autom치tica */
}
body {
  background-color: #f0f0f0; /* Fondo gris claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards-container {
  width: 45%; /* Ancho para los cards */
}

.card {
  background-color: orange;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input[type="radio"] {
  display: none; /* Oculta los input type radio */
}

label {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: blue; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  cursor: pointer;
  border-radius: 15px; /* Esquinas redondeadas */
}

input[type="radio"]:checked + label {
  background-color: darkblue; /* Cambia el color al hacer clic */
}

.card-image {
  margin-left: 12px; /* Espacio entre la imagen y el texto */
  width: 50px; /* Ancho de la imagen */
  height: auto; /* Altura autom치tica */
}

.card-image img {
  width: 50px; /* Ancho de la imagen */
  height: auto; /* Altura autom치tica */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.list-card {
  width: 45%; /* Ancho para el cardview del listado */
  background-color: rgba(237, 211, 171, 0.818); /* Color de fondo del cardview */
  color: rgb(16, 1, 1); /* Color del texto blanco */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineaci칩n a la izquierda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
